@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {

    background-color: #0c0c0c;
   box-shadow: 0px 3px 10px #2f4848;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
   display: flex;
   align-items: center;
   
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.item-nav {
  margin: 0 15px;
  
}

.link-item {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

@media screen and (max-width: 730px) {
    .navbar {
    padding: 1.5rem 4rem;
    }

    .item-nav {
        display: none;
    }
    .item-nav  {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}



