@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body {
    background: #111;
}
header {

    background-color: #0c0c0c;
   box-shadow: 0px 3px 10px #2e3535;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}


.nav-list {
   display: flex;
   align-items: center;
   
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.item-nav {
  margin: 0 15px;
}

.link-item {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;

}

.card-principal {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 400px;
    height: 280px;
    border-radius: 15px;
    margin-top: 50px;
    padding-bottom:  10px;
    background-color: hwb(205 9% 56% / 0.843);
    box-shadow: 0px 3px 10px #2e3535;
}
.imagem {
    display: flex;
    justify-content: center;
    
}
.tenso {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 25px;
    box-shadow: 4px 6px 16px #000000;
}

.text-main {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.desc {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 10px;

}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-principal h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-principal p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i {
    color: aqua;
}

.footer-final {
    background: #111;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-final p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-final span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media screen and (max-width: 730px) {
    .navbar {
    padding: 1.5rem 4rem;
    }

    .item-nav {
        display: none;
    }
    .item-nav  {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}